{%extends 'layout.html'%}
{% block conteudo %}
<div class="">
	<div class="page-title">
		<div class="title_left">
			<h3></h3>
		</div>
	</div>
	<div class="clearfix"></div>
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="x_panel">
				<!-- <div class="x_title">
					<h2>Lista</h2>
					<ul class="nav navbar-right panel_toolbox">
						<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
					</ul>
					<div class="clearfix"></div>
				</div> -->
				<div class="x_content">
					<table id="datatable" class="table table-striped">
	                	<thead>
	                    	<tr>
	                       		<th class="col-md-6 col-sm-6 col-xs-6">Nome</th>
	                       		<th class="col-md-2 col-sm-2 col-xs-2">Telefone</th>
	                       		<th class="col-md-3 col-sm-3 col-xs-3">Email</th>
	                       		<th class="col-md-1 col-sm-1 col-xs-1"></th>
	                       	</tr>
	                    </thead>
	                     
	                    <tbody>
	                    {% for pessoa in pessoas %}
	                    	<tr>
	                       		<td title="Gerenciar pessoa" onclick="location.href = '{% url 'pessoa_editar' pessoa.pk %}';" 
	                       			style="cursor: pointer;">{{ pessoa.nome }}</td>
	                         	<td title="Gerenciar pessoa" onclick="location.href = '{% url 'pessoa_editar' pessoa.pk %}';" 
	                         		style="cursor: pointer;">{{ pessoa.telefone }}</td>
	                         	<td title="Gerenciar pessoa" onclick="location.href = '{% url 'pessoa_editar' pessoa.pk %}';" 
	                         		style="cursor: pointer;">{{ pessoa.email }}</td>
	                         	<td>
	                         		<i onclick="location.href = '{% url 'pessoa_apagar' pessoa.pk %}';" style="cursor: pointer;" 
	                         			aria-hidden="true" data-toggle="tooltip" data-placement="top" data-original-title="Excluir" 
	                         				class="fa fa-trash-o fa-lg fa-pull-right"></i>
	                         	</td>
	                       	</tr>
	                   {% endfor %}
	                   </tbody>
	            	</table>  
				</div>
			</div>
			<a href="{% url 'pessoa_adicionar' %}"><div class="btn btn-sm btn-primary">Adicionar</div></a>
		</div>
	</div>
</div>
{% endblock%}       