{%extends 'layout.html'%}
{% block conteudo %}
<div class="">
	<div class="page-title">
		<div class="title_left">
			<h3>Lançamento</h3>
		</div>
	</div>
	<div class="clearfix"></div>
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="x_panel">
				<div class="x_title">
					<h2>Adicionar</h2>
					<ul class="nav navbar-right panel_toolbox">
						<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
					</ul>
					<div class="clearfix"></div>
				</div>
				<div class="x_content">
					<form id="demo-form2" class="form-horizontal form-label-left" method="POST">{% csrf_token %}
              
            <div class="row">
              
              <input type="hidden" name="pessoa" value="{{ form.pessoa.pk.value }}">

              <div class="form-group">
                <label for="tipo">Tipo</label>
                <select id="id_tipo" name="tipo" class="form-control input-sm" required>
                  <option>--Selecione--</option>
                  {% for operacao in operacoes %}
                  <option value="{{ tipo.pk }}">{{ lancamento.operacao.tipo }}</option>
                  {% endfor %}
                </select>
              </div>

              <div class="form-group col-md-12 col-sm-12 col-xs-12">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="descricao">Descriçao*</label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                  <input type="text" id="descricao" required="required" class="form-control col-md-9 col-sm-9 col-xs-12" value="{{form.descricao.value|default:'' }}" name="descricao">
                </div>
              </div>

              <div class="form-group col-md-12 col-sm-12 col-xs-12">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="valor">Valor*</label>
                  <div class="col-md-9 col-sm-9 col-xs-12">
                    <input type="number" id="valor" required="required" class="form-control col-md-9 col-sm-9 col-xs-12" value="{{form.valor.value|default:'' }}" name="valor">
                  </div>
              </div>

              <div class="form-group col-md-12 col-sm-12 col-xs-12">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="data">Data*</label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                  <input type="date" id="data" required="required" class="form-control col-md-9 col-sm-9 col-xs-12" value="{{form.data.value|default:'' }}" name="data">
                </div>
              </div>

              <div class="form-group col-md-12 col-sm-12 col-xs-12">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="parcelado">Parcelado*</label>
                  <div class="col-md-9 col-sm-9 col-xs-12">
                    <input type="number" id="parcelado" required="required" class="form-control col-md-9 col-sm-9 col-xs-12" value="{{form.parcelado.value|default:'' }}" name="parcelado">
                  </div>
              </div>

              <div class="form-group col-md-6 col-sm-6 col-xs-6">
                <label class="control-label col-md-6 col-sm-6 col-xs-6">Parcelado*</label>
                  <p>
                    Sim:
                    <input type="radio" class="flat" name="parcelado" id="parcelado" value="True" checked="" required /> 
                    Não:
                    <input type="radio" class="flat" name="parcelado" id="parcelado" value="False" />
                  </p>
              </div>

              <div class="form-group col-md-12 col-sm-12 col-xs-12">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="n_parcelas">Nº de Parcelas* </label>
                  <div class="col-md-9 col-sm-9 col-xs-12">
                    <input type="number" id="n_parcelas" required="required" class="form-control col-md-9 col-sm-9 col-xs-12" value="{{form.n_parcelas.value|default:'' }}" name="n_parcelas">
                  </div>
              </div>
                        
            </div>
                      
            <div class="form-group">
              <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                  <a href="{% url 'pessoa_listar' %}"><div class="btn btn-primary">Voltar</div></a>
                  <button type="submit" class="btn btn-success">Salvar</button>
              </div>
            </div>
          </form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock%}