{%extends 'layout.html'%}
{% block conteudo %}
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Excluir</h4>
      </div>
      <div class="modal-body">
        Deseja realmente excluir essa operação?
      </div>
      <div class="modal-footer">
        <form action="{% url 'operacao_apagar' operacao.pk %}" method="POST">{% csrf_token %}
          <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-danger">Confirmar</button>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Fim do Modal -->
<div class="">
	<div class="page-title">
		<div class="title_left">
			<h3>Operação</h3>
		</div>
	</div>
	<div class="clearfix"></div>
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="x_panel">
				<div class="x_title">
					<h2>Detalhes</h2>
					<ul class="nav navbar-right panel_toolbox">
						<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
					</ul>
					<div class="clearfix"></div>
				</div>
				<div class="x_content">
					<form id="demo-form2" class="form-horizontal form-label-left" method="POST">{% csrf_token %}
                  
            <div class="row">
                    
              <div class="form-group col-md-12 col-sm-12 col-xs-12">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="tipo">Tipo*</label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                  <input type="text" id="tipo" disabled class="form-control col-md-9 col-sm-9 col-xs-12" placeholder="{{operacao.tipo}}" name="tipo">
                </div>
              </div>
                        
            </div>
                      
              <div class="form-group">
                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                  <a href="{% url 'operacao_listar' %}"><div class="btn btn-primary">Voltar</div></a>
                  <a href="{% url 'operacao_editar' operacao.pk %}"><div class="btn btn-warning">Editar</div></a>
                  <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal"> Excluir</button>
                </div>
              </div>
          </form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock%}