{%extends 'layout.html'%} 
{% block conteudo %}
<div class="page-title">
	<div class="title_left">
		<h3>Configurações</h3>
	</div>
</div>
<div class="clearfix"></div>
<div class="row">
	<form id="demo-form2" class="form-horizontal form-label-left" method="POST">{% csrf_token %}
		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="x_panel">
				<div class="x_title">
					<h2>Operações</h2>
					<ul class="nav navbar-right panel_toolbox">
						<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
					</ul>
					<div class="clearfix"></div>
				</div>
				<div class="x_content">
					<div class="row">
						
						<div class="form-group col-md-11 col-sm-11 col-xs-12">
							<label class="control-label col-md-3 col-sm-3 col-xs-12" for="nome">Nome *</label>
							<div class="col-md-7 col-sm-7 col-xs-12">
								<input type="text" id="nome" required="required" class="form-control" 
								value="{{form.nome.value|default:'' }}" name="nome">
							</div>
						</div>
						
						<div class="form-group col-md-11 col-sm-11 col-xs-12">
							<label class="control-label col-md-3 col-sm-3 col-xs-12" for="tipo">Tipo *</label>
							<div class="col-md-7 col-sm-7 col-xs-12">
								<input type="text" id="tipo" required="required" class="form-control" 
								value="{{form.tipo.value|default:'' }}" name="tipo">
							</div>
						</div>
						
						<div class="form-group col-md-11 col-sm-11 col-xs-12">
							<label class="control-label col-md-3 col-sm-3 col-xs-12" for="icone">Ícone *</label>
							<div class="col-md-7 col-sm-7 col-xs-12">
								<input type="text" id="icone" required="required" class="form-control" 
								value="{{form.icone.value|default:'' }}" name="icone">
							</div>
						</div>
						
					</div>
				</div>
				
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<a href="{% url 'operacao_listar' %}"><div class="btn btn-sm btn-default">Voltar</div></a>
				<button type="submit" class="btn btn-sm btn-success">Salvar</button>
			</div>
		</div>
	</form>
</div>
{% endblock%}
